Demo.WCF.BasicHttpLoginSession.ServicesTester/Connected Services/LoginSessionService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://demo.wcfloginsession.net" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://demo.wcfloginsession.net" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://demo.wcfloginsession.net/Imports">
      <xsd:import schemaLocation="https://localhost:44347/Service.svc?xsd=xsd0" namespace="http://demo.wcfloginsession.net" />
      <xsd:import schemaLocation="https://localhost:44347/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ActionA_InputMessage">
    <wsdl:part name="parameters" element="tns:ActionA" />
  </wsdl:message>
  <wsdl:message name="IService_ActionA_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActionAResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ActionB_InputMessage">
    <wsdl:part name="parameters" element="tns:ActionB" />
  </wsdl:message>
  <wsdl:message name="IService_ActionB_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActionBResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://demo.wcfloginsession.net/IService/Login" message="tns:IService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://demo.wcfloginsession.net/IService/LoginResponse" message="tns:IService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://demo.wcfloginsession.net/IService/Logout" message="tns:IService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://demo.wcfloginsession.net/IService/LogoutResponse" message="tns:IService_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActionA">
      <wsdl:input wsaw:Action="http://demo.wcfloginsession.net/IService/ActionA" message="tns:IService_ActionA_InputMessage" />
      <wsdl:output wsaw:Action="http://demo.wcfloginsession.net/IService/ActionAResponse" message="tns:IService_ActionA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActionB">
      <wsdl:input wsaw:Action="http://demo.wcfloginsession.net/IService/ActionB" message="tns:IService_ActionB_InputMessage" />
      <wsdl:output wsaw:Action="http://demo.wcfloginsession.net/IService/ActionBResponse" message="tns:IService_ActionB_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://demo.wcfloginsession.net/IService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://demo.wcfloginsession.net/IService/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActionA">
      <soap:operation soapAction="http://demo.wcfloginsession.net/IService/ActionA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActionB">
      <soap:operation soapAction="http://demo.wcfloginsession.net/IService/ActionB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="https://localhost:44347/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>